// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * FriendlyElec NanoPC-T4 board device tree source
 *
 * Copyright (c) 2022 FriendlyElec Computer Tech. Co., Ltd.
 * (http://www.friendlyarm.com)
 *
 * Copyright (c) 2018 Collabora Ltd.
 *
 * Copyright (c) 2020 Jensen Huang <jensenhuang@friendlyarm.com>
 * Copyright (c) 2020 Marty Jones <mj8263788@gmail.com>
 * Copyright (c) 2021 Tianling Shen <cnsztl@gmail.com>
 */

/dts-v1/;
#include "rk3399-nanopi-r4s.dts"

/ {
	model = "FriendlyElec NanoPi R4SE";
	compatible = "friendlyelec,nanopi-r4s", "rockchip,rk3399";

	i2s1-sound {
    	compatible = "simple-audio-card";
    	simple-audio-card,format = "i2s";
	    simple-audio-card,name = "Bucikv3,I2S-codec";
	    simple-audio-card,mclk-fs = <512>;
    	simple-audio-card,cpu {
		                      bitclock-master;
                              frame-master;
		                      sound-dai = <&i2s1>;
	    };
	    simple-audio-card,codec {
		                        clocks = <&sgtl5000_clk>;
		                        sound-dai = <&sgtl5000>;
	    };
    };

    sgtl5000_clk: sgtl5000-oscillator  {
	              compatible = "fixed-clock";
	              #clock-cells = <0>;
	              //clock-frequency  = <24576000>;
                  clock-frequency  = <22579200>;
    };

	dc_12v: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "dc_12v";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};



	vcc5v0_baseboard: vcc5v0-baseboard {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_baseboard";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_12v>;
	};



	vddio_codec: vddio-codec {
		compatible = "regulator-fixed";
		regulator-name = "vddio_codec";
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc5v0_baseboard>;
	};

	vdda_codec: vdda-codec {
		compatible = "regulator-fixed";
		regulator-name = "vdda_codec";
		regulator-boot-on;
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
		vin-supply = <&vcc5v0_baseboard>;
	};

	vddd_codec: vddd-codec {
		compatible = "regulator-fixed";
		regulator-name = "vddd_codec";
		regulator-boot-on;
		regulator-min-microvolt = <1600000>;
		regulator-max-microvolt = <1600000>;
		vin-supply = <&vcc5v0_baseboard>;
	};
};

&hdmi_sound {
	status = "disabled";
};

&mach {
	hwrev = <0x0b>;
	model = "NanoPi R4SE";
};

&emmc_phy {
	status = "okay";
};

&sdhci {
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	status = "okay";
};

&i2s1 {
     pinctrl-0 = <&i2s1_2ch_bus>;
     rockchip,playback-channels = <2>;
     rockchip,capture-channels = <2>;
     status = "okay";
};


&i2c1 {
	status = "okay";
	clock-frequency = <400000>;

	sgtl5000: codec@a {
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		clocks = <&sgtl5000_clk>;
		#sound-dai-cells = <0>;
		VDDA-supply = <&vdda_codec>;
		VDDIO-supply = <&vddio_codec>;
		//VDDD-supply = <&vddd_codec>;
		status = "okay";
	};
};

&i2s2 {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};
